
.selection-header {
    color: #fff;
}

.no-selection{
    margin-bottom: 50%;
}


section.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.capitalize{
    text-transform: uppercase;
}
.gallery {
    display: flex;
    flex-direction: column;
    color: #fff;
}
div {
     display: flex;
     align-items: flex-end;
}
.gallery-item{
    width: 100%;
    height: 50vw;
}

.abstract {
    background-image: linear-gradient(30deg, rgba(39, 39, 39, 0.5), rgba(39, 39, 39, 0.5));
    line-height: 1.5rem;
    padding: 0 10px 40% 10px;

}

@media all and (min-width: 600px) {

    .gallery{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .gallery-item{ 
        width: 33%;
        height: 40vw;
        max-height: 450px;
    }
}

@media all and (min-width: 1240px) {
    .gallery{
        max-width: 1500px;        
    }
    .gallery-item{
        width: 25%;
        height: 35vw;
    }
}
