*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #000;
    font-family: 'open_sanslight';
}

.capitalize{
    text-transform: uppercase;
}