.selection-header {
    color: #fff;
}

.active{
    transition: all 1s ease-in .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  @include tablet{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    margin-bottom: 10px;
  }
  @include desktop {
    justify-content: flex-start;
  }
}

.active-logo{
  transition: all 0.5s ease-in-out 0.05s;
  @include tablet{
    height: 75px;
    margin: 20px;
  }
}

.selection-container {
  margin: 10px;
  @include tablet{
    margin: 0 8%;
  }
}

.selection-header {
  transition: all 0.5s ease-in-out 0.05s;
  padding: 10px 0;
}

.no-selection{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet{
      flex-direction: row;
    }
    @include desktop {
      justify-content: flex-start;
    }
}
